@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  background: #eeeeee;
}

.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.left-links,
.right-links > li {
  list-style-type: none;
}

.left-links,
.right-links,
li > a {
  color: #727272;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
